body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2400' height='1400' preserveAspectRatio='none' viewBox='0 0 2400 1400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3105%26quot%3b)' fill='none'%3e%3crect width='2400' height='1400' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient3106%26quot%3b)'%3e%3c/rect%3e%3cpath d='M2315.512%2c1033.977C2450.057%2c1040.457%2c2569.477%2c949.642%2c2633.239%2c830.988C2693.722%2c718.435%2c2676.254%2c586.71%2c2616.575%2c473.729C2551.884%2c351.261%2c2454.001%2c227.431%2c2315.512%2c229.487C2179.126%2c231.512%2c2087.455%2c358.948%2c2029.546%2c482.446C1980.895%2c586.201%2c1993.962%2c701.008%2c2046.71%2c802.741C2105.02%2c915.201%2c2188.981%2c1027.883%2c2315.512%2c1033.977' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1230.2149083161923 852.5825946136854L865.8063105572451 1107.2270249712499 1215.0948554451256 1277.5864311258192z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M396.18137198354077 127.02375911865528L732.1341059872389 242.7015621962862 511.8591750611717-208.92897488504275z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M358.1222211651397 909.2207461210296L533.0360592814505 1267.8472603562814 891.6625735167022 1092.9334222399705 716.7487354003914 734.3069080047187z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1373.605171754804 13.081398143689274L1098.4283692603956-1.3400069852506427 1084.0069641314556 273.83679550915775 1359.1837666258639 288.25820063809766z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M754.8438069591433 1467.5571012107214L986.636938427201 1181.3164222564617 468.6031280048836 1235.7639697426637z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2040.4241644105823 873.294955842714L1865.1217485378072 745.9302954490608 1737.7570881441538 921.2327113218361 1913.0595040169292 1048.597371715489z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1705.6384984164508 1065.5410907645419L1886.6610833055854 947.9836495972969 1588.081057249206 884.5185058754073z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M265.65101375419744 394.2849451352374L423.97161249831385 218.45210681477073 89.81817543373074 235.964346391121z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M761.5342174014459 1289.3169031281382L988.8514289141989 1105.2390547746986 804.7735805607593 877.9218432619456 577.4563690480063 1061.999691615385z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1491.930143190485 931.468811518195L1798.1334731748275 1145.8746913981468 2012.5393530547794 839.6713614138043 1706.3360230704368 625.2654815338526z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1355.816%2c1979.742C1498.109%2c1975.775%2c1634.677%2c1906.591%2c1700.913%2c1780.592C1763.333%2c1661.852%2c1723.339%2c1524.059%2c1656.507%2c1407.745C1589.367%2c1290.894%2c1490.459%2c1185.732%2c1355.816%2c1179.984C1212.321%2c1173.858%2c1082.101%2c1257.53%2c1007.103%2c1380.02C928.384%2c1508.587%2c899.923%2c1670.487%2c975.7%2c1800.81C1051.147%2c1930.566%2c1205.778%2c1983.925%2c1355.816%2c1979.742' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1256.5438067397422 711.170961648191L1556.0792150485981 711.170961648191 1556.0792150485981 411.63555333933493 1256.5438067397422 411.635553339335z' fill='rgba(255%2c 255%2c 255%2c 0.22)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3105'%3e%3crect width='2400' height='1400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.42%25' y1='-17.86%25' x2='89.58%25' y2='117.86%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3106'%3e%3cstop stop-color='rgba(0%2c 39%2c 80%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.49'%3e%3c/stop%3e%3cstop stop-color='rgba(75%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    text-align: center;
    margin-top: 100px;
    margin: 0;
    background-color: rgb(115, 115, 115);
    color: #fff;
    padding-top: 50px;
    padding-bottom: 60px;
}

main {
    padding-top: 150px; 
}

h1 {
    color: #0366d6;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
    border: 5px solid white;

}

.menu img {
    width: 34px; 
    height: 35px;
}


.project_images img {
    border-radius: 0;
    clip-path: none;
    width: 100%; 
    height: auto; 
    display: block; 
}

p {
    margin-bottom: 20px;
    font-size: 18px; 
}

a {
    color: #0366d6;
    text-decoration: none;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7% ;
    z-index: 999;
    background-color: #f2f2f2;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

nav ul li {
    margin-right: 35px;
    display: flex; 
    align-items: center; 
}

nav ul li a {
    color: #0366d6;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px; 
}

section {
    margin-bottom: 30px;
}

.wrap {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #0366d6;
    margin-bottom: 20px;
}

.project {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #000;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #0366d6;
    text-align: center;
    padding: 10px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px; 
    border-radius: 10px; 
    margin-top: 50px;
}

.contact-form h2 {
    color: #0366d6;
    margin-bottom: 20px;
    text-align: center;

}

.contact-form label {
    display: block;
    margin-top: 15px;
    color: #fff;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 12px; 
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #0366d6;
    color: #fff;
    border: none;
    padding: 15px 25px; /* Botón más grande */
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Tamaño de fuente más grande */
}

.contact-form input[type="submit"]:hover {
    background-color: #024785;
}

.contact-form input[type="reset"] {
    margin-left: 120px;
    background-color: #d63031; /* Cambiar a rojo */
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form input[type="reset"]:hover {
    background-color: #b12427; /* Cambiar tono al pasar el cursor */
}

/* Estilos para dispositivos más pequeños como teléfonos móviles */
@media screen and (max-width: 768px) {
    /* Estilos para la barra de navegación en pantallas más pequeñas */
    .navbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: auto;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        z-index: 999;
        border-radius: 5px;
        padding: 10px 0;
    }

    .menu.active {
        display: block;
    }

    .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .menu li:last-child {
        margin-bottom: 0;
    }

    .menu a {
        color: #0366d6;
        text-decoration: none;
        font-size: 16px;
    }

    .menu img {
        width: 12px;
        height: 12px;
    }

    /* Ajustes para otros elementos en pantallas más pequeñas */
    body {
        padding-top: 50px; /* Añadir espacio para la barra de navegación */
    }

    main {
        padding-top: 100px; /* Ajustar espacio superior del contenido principal */
    }

    h1 {
        font-size: 24px; /* Reducir tamaño del encabezado */
    }

    img {
        width: 150px;
        height: 150px;
        margin-top: 10px; /* Ajustar margen superior */
    }

    .contact-form {
        max-width: 90%; /* Reducir ancho del formulario de contacto */
        padding: 20px; /* Ajustar el espaciado del formulario */
        margin-top: 20px;
    }

    .contact-form h2 {
        font-size: 24px; /* Reducir tamaño del encabezado del formulario */
        margin-bottom: 15px;
    }

    .contact-form input[type="text"],
    .contact-form textarea {
        padding: 10px; /* Ajustar el espaciado de los campos del formulario */
        margin-top: 8px;
        margin-bottom: 15px;
        font-size: 14px; /* Reducir tamaño de fuente de los campos */
    }

    .contact-form input[type="submit"] {
        padding: 12px 20px; /* Ajustar el tamaño del botón */
        font-size: 16px; /* Reducir tamaño de fuente del botón */
    }
}